* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(146, 209, 180);
}
.mainBox {
    color: white;
    height: 100vh;
    width: 99vw;
    display: flex;
    flex-flow: column nowrap;
}

.headerBox {
    display: flex;
    flex-flow: column wrap;
    height: 7vh;
    width: 99vw;
    margin: 1vh 0 0 1vh;
}

.pokemonName {
    margin: 1vh 0 0 0;
    padding: 0;
} 

.sectionBox {
    display: flex;
    flex-direction: row wrap;
    margin-left: 4vw;
    flex-grow: 1;
    align-items: center;
}
.column1 {
 display: flex;
 flex-flow: column wrap;
 order: 0;
 width: 10vw;
 font-size: 22px;
}

.column2 {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    order: 1;
    flex-grow: 1;
    justify-content: center;
}

.imageBox {
    background-image: url(001Bulbasaur.png);
    background-size: 100% 100%;
    height: 30vh;
    width: 20vw;
}

#japName {
    font-size: 54px;
    color: gray;
    font-weight: 900;
}

.column3 {
    display: flex;
    flex-flow: column nowrap;
    order: 2;
    width: 40vw;
    justify-content: center;
}

.elementsBox {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1vw;
    margin-bottom: 2vh;
}

img {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 25px; 
    padding: 1vh;
}

.baseStats {
    margin: 0 0 0 0.5vw;
}
.statsBox {
    border-left: white;
    border-left-style: solid;
}

.statsBox1 {
    display: flex;
    height: 5vh;
    width: 39vw;
    margin-top: 1vh;
}
.statsBox2 {
    display: flex;
    height: 5vh;
    width: 39vw;
    margin-top: 1vh;
}

.stats {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 2vw;
    padding: 1vh;
    height: 5vh;
    width: auto;
    background-color: white;
    color: black;
    border-radius: 8px;
    align-items: center;
    font-size: 12px;
}


.footerBox {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    height: 10vh;
    width: 99vw;    
    margin-bottom: 10vh;
}

.footerBox p {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 20px;
}
